<div class="about_c_h_c">
    <div class="container">
        <h1 class="title_about">ACERCA DE NOSOTROS</h1>
        <p class="description_about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat </p>
        <div class="image_containter">
            <img src="assets/images/image_about.jpg" alt="">
        </div>

        <button class="button_about" (click)="scrollTo()">Contactanos</button>
    </div>
</div>