@import 'fonts.scss','colors.scss';

$height_main_image: 400px;
$height_single_images: 160px;

.gallery_images_c_h_c {
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .image_container {
        height: $height_single_images;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .img_hover_text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .35);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease, visibility .3s ease;

            img {
                width: 30px;
                height: 30px;
            }

            span {
                display: block;
                font-family: $font_2;
                color: $color_1;
                margin-top: 10px;
                font-size: 13px;
            }
        }

        &:hover {
            .img_hover_text {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .image_container.main {
        grid-column: 1 / 3;
        height: 100%;
        max-height: $height_main_image;

        .img_hover_text {
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media (min-width:500px) {
    $height_single_images: 200px;

    .gallery_images_c_h_c {
        grid-template-columns: repeat(3,1fr);

        .image_container {
            height: $height_single_images; 
        }

        .image_container.main {
            grid-column: 1 / 4;
            max-height: 650px;
        }
    }
}

@media (min-width:768px) {
    $height_main_image: 335px;

    .gallery_images_c_h_c {
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr 1fr;

        .image_container {
            height: $height_main_image / 2; 
        }
        
        
        .image_container.main {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            max-height: $height_main_image;
        }
    }
}

@media (min-width:950px) {
    $height_main_image: 450px;

    .gallery_images_c_h_c {

        .image_container {
            height: $height_main_image / 2;

            .img_hover_text {
                span {
                    font-size: 15px;
                }
            }
        }
        
        .image_container.main {
            max-height: $height_main_image;
        }
    }
}

@media (min-width:1400px) {
    $height_main_image: 500px;

    .gallery_images_c_h_c {

        .image_container {
            height: $height_main_image / 2; 

            .img_hover_text {
                span {
                    font-size: 17px;
                }

            }
        }
        
        
        .image_container.main {
            max-height: $height_main_image;
        }
    }
}

@media (min-width:1600px) {
    $height_main_image: 700px;

    .gallery_images_c_h_c {

        .image_container {
            height: $height_main_image / 2; 
            
            .img_hover_text {
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        
        
        .image_container.main {
            max-height: $height_main_image;
        }
    }
}